@import "./variables";

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgba(51, 138, 253, 0.5), rgba(51, 138, 253, 0.9));

  label {
    text-shadow: 1px 1px black;
  }

  input {
    background-color: $color-form-bg;
    &[type=text] {
      border-radius: 100rem;
      &:focus {
        background: white;
        color: rgb(0, 44, 138);
      }
    }
  }
  button {
    background-color: $color-form-bg;
    border-radius: 100rem;
  }
}
